@font-face {
  font-family: "RedHatFont";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Italic.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Light.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "RedhatFont", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../imgs/pipelines.png');
  background-size:cover;
}

code {
  font-family: "RedhatFont",
}

.navbar {
  background-color: cornflowerblue;
}

.navbar-nav .nav-link {
  color: white;
  font-size: larger;
  background-color: cornflowerblue;
}

.navbar-nav .nav-link.active {
  color: cornflowerblue;
  background-color: white;

}

.nav-link:hover {
  color: coral;
}

.coral {
  background-color: coral;
  border-color: coral;
  color:white;
}

.coral:hover {
  background-color: white;
  border-color: coral;
  color: coral;
}

.coral:disabled {
  background-color: darkgrey;
  border-color: dimgray;
}

.cornflowerblue {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.cornflowerblue:hover {
  background-color: white;
  border-color: cornflowerblue;
  color: cornflowerblue;
 
}

.modal-background {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-content: center;
    backdrop-filter: blur(5px);
}

.d-flex {
  margin-top: 5%;
  padding: 2% 2% 2% 2%;
  
}

.popup-form-group {
  padding: 2% 2% 2% 2%;
  background-color:gainsboro;
}

.dropdown {
  width: fit-content !important;
  margin-right: 3%;
  margin-bottom: 1%;
}

.deact-button {
  background-image: url("../imgs/deactivate.png");
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  margin: 1% 2% 1% 2%;
}

.act-button {
  background-image: url("../imgs/activate.png");
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  margin: 1% 2% 1% 2%;
}

.roles-button {
  background-image: url("../imgs/roles.png");
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  margin: 1% 2% 1% 2%;
}

.trash-button {
  background-color: coral;
  border-color: coral;
  color: white;
  cursor: pointer;
}

.trash-button:hover {
  background-color: white;
  color: coral;
  cursor: pointer;
  border-color: coral;
}

.edit-button {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

.edit-button:hover {
  background-color: white;
  color: cornflowerblue;
  cursor: pointer;
  border-color: cornflowerblue;
}

.border-grey {
  border: 1px solid darkgrey;
}
