.navbar {
    background-color: cornflowerblue;
}

.navbar-nav .nav-link {
    color:white;
    font-size: larger;
    background-color: cornflowerblue;
}

.navbar-nav .nav-link.active {
    color: cornflowerblue;
    background-color: white;

}